<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-black" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)"> <p style="text-align: center;"><strong>BACK TO TOP</strong> </p></a>
    </div>

    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <p style="text-align: center;">
        <i class="far fa-copyright"></i> COVID-19 & Energy Transition by <a href="https://github.com/LWYohann/LookingFor1_Data_Story" target="_blank" rel="noopener noreferrer">LookingFor1</a> | This page is maintained by  <a href="https://github.com/LWYohann" target="_blank" rel="noopener noreferrer">LWYohann</a>  |  December 22, 2023, Vaud, Switzerland <i class="fas fa-heart has-text-danger"></i> </a>
        </p>
    </div>
</footer>