/* Align text to the left for all elements */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    text-align: left !important;
}


.container {
    max-width: 1100px; /* Adjust the width as needed */
    margin: 0 auto; /* This centers the container */
}


h1 {
    font-size: 24px;
}

body {
    font-size: 16px; /* You can adjust the size as needed */
}



p {
    font-size: 20px;
}


/* ... and so on for other elements */
/* .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

